@font-face {
  font-family: Proxima;
  src: url('../fonts/Proxima Nova Thin.otf');
}
@font-face {
  font-family: Proxima reguler;
  src: url('../fonts/ProximaNova-Regular.otf');
}
@font-face {
  font-family: Proxima Semibold;
  src: url('../fonts/Proxima Nova Semibold.otf');
}
@font-face {
  font-family: Balig;
  src: url('../fonts/BaligScript-Regular.otf');
}
body{ margin: 0}
.bg-army{  background: #303E2C}
.navbar{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
.navbar-light .navbar-nav .active>.nav-link{
  color: white;
  font-family: Proxima Semibold;
}
.slide-image{ width: 100%;}
.ukm-slide-container{ padding: 0; margin-top: 70px;}
.ukm-content-home{ padding-top: 80px;}
.ukm-title{
  font-family: Balig;
  font-size: 4em;
  color: black;
  margin-bottom: 0px;
  line-height: 60px
}
.ukm-text-content{
  width: 50%;
}
.line{
  width: 60%;
  height: 2px;
  background: black;
}
.grid-content-home{
  display: grid;
  grid-auto-columns: auto auto;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 30px;
  grid-template-areas:
  " text-1 title-1 "
  " title-2 text-2 "
  " text-3 title-3 "
}
.title-1{grid-area:title-1;text-align: left;}
.title-2{grid-area:title-2;text-align: right;}
.title-3{grid-area:title-3;text-align: left;}
.text-1{grid-area:text-1;}
.text-2{grid-area:text-2}
.text-3{grid-area:text-3}

.title-1>.ukm-text-content>.line,.title-3>.ukm-text-content>.line{float: left;}
.title-2>.ukm-text-content>.line{
  float: right;
  width:90%;
}
.text-1>img,.text-3>img,.title-2>.ukm-text-content{float: right;}
.text-1>img,.text-2>img,.text-3>img{
  max-width: 70%;
}
img.logo-footer{
  width:70%;
  cursor: pointer;
}
.ukm-text-content>p{
  font-family: Proxima reguler;
  font-size: 1.1em;
}
.ukm-footer{
  padding: 50px 40px 50px 40px;
  background-color: #A88535;
  margin-top: 50px;
  color: white;
}
.text-bold{
  font-weight: bold;
}
.text-unbold{
  font-weight: lighter;
}
.float-footer{
  float: right;
}
