@font-face {
    font-family:myFirstFont;
    src: url("fonts/BaligScript-Regular.otf") format("opentype");
}
@font-face {
    font-family:mySecondFont;
    src: url("fonts/Proxima Nova Thin.otf") format("opentype");
}

.ukm-body{
  margin: 0;
}
.ukm-container{
height: 130vh;
width: 100vw;
background-color: black;
background-image: url('image/background.png');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
z-index: 1;
}
.ukm-layer{
  height: 130vh;
  width: 100vw;
  background-color: black;
  z-index: 2;
  margin: 0;
  position: absolute;
  opacity: 0.5;
}
.ukm-content{
    height: auto;
    width: 60%;
    z-index: 3;
    position: absolute;
    left: 50%;
    margin-left: -30%;
    top: 20%;
    margin-top: -20px;
    text-align: center;
}
img.ukm-logo{
  width: 60%;
}
.ukm-title{
    font-family: myFirstFont;
}
.ukm-title>h3{
  font-size: 6em;
  font-weight: lighter;
  color: #896824;
  margin: 0;
}
.ukm-grid{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  grid-template-areas:
  "ukm-fashion ukm-music ukm-food"
}
.ukm-fashion{
  grid-area: ukm-fashion;

}
.ukm-music{
  grid-area: ukm-music;
}
.ukm-food{
  grid-area: ukm-food;
}
.ukm-fashion,.ukm-music,.ukm-food{
  padding: 15px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.63);
  cursor: pointer;
}
.ukm-fashion>h2,.ukm-music>h2,.ukm-food>h2{
  font-size: 3em;
  color: #896824;
  margin: 0px;
}
.ukm-fashion>p,.ukm-music>p,.ukm-food>p{
  color: white;
  font-family:mySecondFont;
}
.ukm-ig{
margin-top:100px;
}
